<div id="content">
  <div id="container">
    <div class="header">
      <div id="icon_cell">
        <img class="text-center" src="/img/logo.png" style="width:40%; margin:10px;">
      </div>
    </div>
    <div id="continue">
      <p>Enter your name</p>
      <form action="/login" method="post" class="form col-md-12 center-block">
        <div class="form-group">
          <input class="form-control input-lg" placeholder="Name" type="text" name="user[name]" id="name" required="">
          </input>
        </div>
        <div class="form-group">
          <input class="form-control input-lg" placeholder="Tags" type="text" name="user[tags]">
          </input>
        </div>
        <div class="form-group">
          <label for="mood">Mood</label>
          <select id="mood" class="form-control" name="user[mood]">
            <option value="great">Great</option>
            <option value="ok">OK</option>
            <option value="not-good">Not good</option>
          </select>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-lg btn-block">Sign In</button>
        </div>
      </form>
    </div>
  </div>
    <h3>POWERED BY</h3>
    <img class="text-center" src="/img/cisco-meraki-gray.png" style="width:10%; margin:10px;">
  </div>
</div>
